.slider {
	list-style: none;
	padding: 0;
	margin: 0;

	&__item {
		background-color: #eee;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		position: relative;
		padding-top: 57.6%;
	}
	&__header {
		color: #fff;
	}
	&__box {
		color: #fff;
		text-shadow: 0 1px 1px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.2);
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		box-sizing: border-box;
		padding: 15px;
	}
}
